<div class="d-flex flex-column bg-light vh-100 p-3" style="width: 250px;">
    <h4>Menu </h4>
    <ul class="nav flex-column" *ngIf="router.url === '/home'">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/settings">Settings</a>
        </li>
    </ul>
    <ul class="nav flex-column" *ngIf="router.url === '/coursepage'">
        <div *ngFor="let courseHeader of coursesHeader">
            <li class="nav-item">
                <a class="nav-link">{{courseHeader.content}}</a>
            </li>
        </div>
    </ul>
</div>