<div class="d-flex flex-column bg-light vh-100 p-3" style="width: 250px;">
    <h4>Menu</h4>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Settings</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Logout</a>
        </li>
    </ul>
</div>